* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: bisque;
}

.active {
  color: white;
}

.container {
  max-width: 80%;
  margin: auto;
}

h1 {
  margin: 4rem 0;
  text-align: center;
}

.container .movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container .movies .movie {
  border: 1px solid lightcoral;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: calc(100% / 5 - 1rem);
  margin: 0.5rem;
  padding: 1rem 0.5rem;
}
.container .movies .movie h2,
.container .movies .movie h5 {
  text-align: center;
}
